body {
    background: #000;
    color: #fff;
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    font-size: 24px;
}

canvas.main {
    position: absolute;
    display: inline;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-width: 100vw;
    max-height: 100vh;
    transition: opacity 1s ease;
}

header {
    text-shadow: 0 0 5px #000;
    background: rgba(0, 0, 0, .7);
    line-height: 3;
    font-weight: 700;
    user-select: none;
    pointer-events: none;
    transition: opacity 1s ease;
}

header a {
    color: rgba(100, 160, 220, .4);
}

body > *:not(:first-child) {
    display: none;
}